<a href="https://colab.research.google.com/github/filipecarbonera/formacao_python/blob/main/rascunho_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', 150)

[Set Options do Pandas](https://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.set_option.html)

In [ ]:
dados = pd.read_csv('https://raw.githubusercontent.com/filipecarbonera/formacao_python/main/dados/db.csv', sep=';')
dados

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [ ]:
dados.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [ ]:
dados[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

### **Tuplas:**

In [ ]:
a = ()
type(a)

tuple

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
nomes_carros[1:3]

('Passat', 'Crossfox')

In [ ]:
for item in nomes_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

In [ ]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros
print(carro_1)
print(carro_3)

Jetta Variant
Crossfox

In [ ]:
_, A, _, B = nomes_carros
print(A)
print(B)

Passat
DS5

[Função Zip]('https://docs.python.org/3.3/library/functions.html#zip')

In [ ]:
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
list(zip(nomes_carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [ ]:
for item in zip(nomes_carros, valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [ ]:
for carro, valor in zip(nomes_carros, valores):
  print(nomes_carros, valores)

('Jetta Variant', 'Passat', 'Crossfox', 'DS5') [88078.64, 106161.94, 72832.16, 124549.07]
('Jetta Variant', 'Passat', 'Crossfox', 'DS5') [88078.64, 106161.94, 72832.16, 124549.07]
('Jetta Variant', 'Passat', 'Crossfox', 'DS5') [88078.64, 106161.94, 72832.16, 124549.07]
('Jetta Variant', 'Passat', 'Crossfox', 'DS5') [88078.64, 106161.94, 72832.16, 124549.07]

In [ ]:
tupla = ()
type(tupla)

tuple

In [ ]:
lista = []
type(lista)

list

### **Dicionários:**

In [ ]:
dict_dados = {'Jetta Variant':88078.64, 'Passat':106161.94, 'Crossfox':72832.16}
dict_dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [ ]:
dict_dados['Passat']

106161.94

In [ ]:
"Passat" in dict_dados

True

In [ ]:
del dict_dados['Passat']
dict_dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64}

Exemplo:

In [ ]:
dados = {
    'Passat': {
        'ano': 2012,
        'km': 50000,
        'valor': 75000,
        'acessorios': ['Airbag', 'ABS']
    }, 
    'Crossfox': {
        'ano': 2015,
        'km': 35000,
        'valor': 25000
    }
}

Testar se a chave acessorios existe no dicionário de informações do carro Crossfox.

In [ ]:
'acessorios' in dados['Crossfox']

False

In [ ]:
'acessorios' in dados['Passat']

True

In [ ]:
dados['Crossfox']['valor']

25000

**Métodos:**

In [ ]:
dict_dados.update({'Passat':106161.94})
dict_dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [ ]:
dict_dados.update({'Passat':106161.90, 'Fusca': 150000})
dict_dados

{'Crossfox': 72832.16,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.9}

In [ ]:
dict_dados_copy = dict_dados.copy()
dict_dados_copy

{'Crossfox': 72832.16,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.9}

In [ ]:
del dict_dados_copy['Fusca']
dict_dados_copy

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.9}

In [ ]:
dict_dados

{'Crossfox': 72832.16,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.9}

In [ ]:
dict_dados_copy.pop('Passat')

106161.9

In [ ]:
dict_dados_copy

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64}

In [ ]:
dict_dados_copy.pop('Passat', 'Chave não encontrada')

'Chave não encontrada'

In [ ]:
dict_dados_copy.clear()
dict_dados_copy

{}

In [ ]:
dados = {'Crossfox': 72832.16, 'DS5': 124549.07, 'Fusca': 150000, 'Jetta Variant': 88078.64, 'Passat':106161.95}
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [ ]:
for key in dados.keys():
  print(dados[key])

72832.16
124549.07
150000
88078.64
106161.95

In [ ]:
dados.items()

dict_items([('Crossfox', 72832.16), ('DS5', 124549.07), ('Fusca', 150000), ('Jetta Variant', 88078.64), ('Passat', 106161.95)])

In [ ]:
type(dados.items())

dict_items

In [ ]:
for item in dados.items():
  print(item)

('Crossfox', 72832.16)
('DS5', 124549.07)
('Fusca', 150000)
('Jetta Variant', 88078.64)
('Passat', 106161.95)

In [ ]:
for key, value in dados.items():
  print(key, value)

Crossfox 72832.16
DS5 124549.07
Fusca 150000
Jetta Variant 88078.64
Passat 106161.95

In [ ]:
dados = {
    'Crossfox': {'valor': 72000, 'ano': 2005}, 
    'DS5': {'valor': 125000, 'ano': 2015}, 
    'Fusca': {'valor': 150000, 'ano': 1976}, 
    'Jetta': {'valor': 88000, 'ano': 2010}, 
    'Passat': {'valor': 106000, 'ano': 1998}
}

In [ ]:
for item in dados.items():
  if (item[1]["ano"] > 2000):
    print(item[0])

Crossfox
DS5
Jetta

### [Python Built-in Functions](https://docs.python.org/3/library/functions.html)

In [ ]:
dados = {'Crossfox': 72832.16, 'DS5': 124549.07, 'Fusca': 150000, 'Jetta Variant': 88078.64, 'Passat':106161.95}
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [ ]:
sum(dados.values())

541621.82

### Python - Criando Funções

In [ ]:
def media():
  valor = (1 + 2 + 3) / 3
  print(valor)

In [ ]:
media()

2.0

In [ ]:
def media_parametros(n1, n2, n3):
  valor = (n1+n2+n3)/ 3
  print(valor)

In [ ]:
media_parametros(8,9,10)

9.0

In [ ]:
media_parametros(9,10,10)

9.666666666666666

In [ ]:
def media_built_in(lista):
  valor = sum(lista) / len(lista)
  print(valor)

In [ ]:
media_built_in([1,2,3,4,5,6,7,8])

4.5

In [ ]:
result = media_built_in([1,2,3,4,5,6,7,8])
print(type(result))

4.5
<class 'NoneType'>

In [ ]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [ ]:
def km_media(dataset, ano_atual):
  results = []
  for item in dataset.items():
    result = (item[1]['km']) / (ano_atual - item[1]['ano'])
    results.append(result)
  return(results)

In [ ]:
km_media(dados, 2019)

[2500.0, 4250.0, 3250.0, 7000.0, 3100.0]

In [ ]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        result.update({ item[0]: media })
    return result

In [ ]:
km_media(dados, 2019)

{'Crossfox': 2500.0,
 'DS5': 4250.0,
 'Fusca': 3250.0,
 'Jetta': 7000.0,
 'Passat': 3100.0}